{% extends 'base.html'%}

{%block content %}
<style>
    .container{
        margin-top:5%;
        width:70%;
    }
</style>

<div class="container">
    <form action="{%url 'update' blog.id%}" method="POST">
        {%csrf_token%}

        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">제목</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="제목을 입력하세요" name="title" value="{{blog.title}}">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">본문</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="body" placeholder="내용을 입력하세요">{{blog.body}}</textarea>
        </div>
        <!--
        <p>제목: <input type="text" name="title" value="{{blog.title}}"></p>
        <p>본문: <textarea name="body" id="" cols=30 rows="10">{{blog.body}}</textarea></p>
    -->
        <button type="submit">sumbit</button>
    </form>
</div>

{%endblock%}