{%extends 'base.html' %}
{%block content%}

<style>
    @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

    #main-container{
        margin-top:5%;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
    }
    .body{
        /*justify-content: center;
        align-items: center;*/
        background: hsl(0, 0%, 100%);
        margin-bottom: 3%;
        margin-left: auto;
        margin-right: auto;
    }
    .card-img-top
    {
        margin-top:30px;
        margin-bottom: 10px;
        width:70%;
        margin-left: auto;
        margin-right: auto;
    }
    .card-sub{
        text-align: right;
        margin-right:20px;
        font-family: 'Jeju Gothic', sans-serif;
    }
    .card-body{
        width:80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom:30px;
        font-family: 'Jeju Gothic', sans-serif;
    }

</style>
<body>
    <div class="card mb-3" id="main-container">
        <br><h1 class="card-title" style="font-family: 'Jeju Gothic', sans-serif;">{{blog.title}}</h1><br>
        <div class="card-sub">
            <strong><h4>{{blog.writer}}</strong></h4>
            {{blog.pub_date}}
        </div>
        <img src="{{blog.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          {{blog.body}}
        </div>
      </div>


        {%if user.is_authenticated %}
            {%if user.username == blog.writer.username %}
                <a href="{%url 'delete' blog.id %}" style="font-family: 'Jeju Gothic', sans-serif;"class="btn btn-light" >삭제하기</a>
                <a href="{%url 'edit' blog.id %}" style="font-family: 'Jeju Gothic', sans-serif;" class="btn btn-light" >수정하기</a>
            {%endif%}
        {%endif%}
        
        <br><br>
        <a href="{%url 'bloglist'%}" class="btn btn-light" style="margin-bottom: 10%; font-family: 'Jeju Gothic', sans-serif;">목록으로 돌아가기</a>
        {%endblock%}
    </div>
</body>