{% extends 'base.html'%}

{%block content %}
<style>
    @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

    .container{
        margin-top:5%;
        width:70%;
        font-family: 'Jeju Gothic', sans-serif;
    }
</style>

<body>
    <div class="container">
        <form action="{%url 'update' blog.id%}" method="POST"  enctype="multipart/form-data">
            {%csrf_token%}

            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label"></label>
                <input type="text" class="form-control" id="formGroupExampleInput" name="title" value="{{blog.title}}"><br>
            
                <div class="form-floating">
                    <textarea class="form-control" id="floatingTextarea2" name="body" style="height: 300px;">{{blog.body}}</textarea>
                </div>

                <div class="input-group mb-3" style="margin-top: 20px;">
                    <input type="file" class="form-control" id="inputGroupFile02" name="image">
                    <label class="input-group-text" for="inputGroupFile02">Upload</label>
                </div>
            </div>
            <input class="btn btn-light" type="submit" value="제출하기">
        </form>
    </div>
</body>
{%endblock%}