{%extends 'base.html' %}
{%block content%}

<!--로그인 됐을 경우 사용자 id 뜨도록-->
{%if user.is_authenticated %}  
{{user.username}}
{{user.nickname}}
{{user.university}}
{%endif%}
{%load static%}

<!DOCTYPE html>
<html lang='en'>
    <head>
        <style>
            .main-container{
                margin-top: 10%;
                height: 50%;
                display:table;
                flex-direction:column;
                margin-left: auto;
                margin-right: auto;
                align-items: center;
                text-align: center;
                justify-content: center;
            }

        </style>
    </head>

    <body>
        <div class="main-container">
            <!--<div class="about-me" style="width:200px;float:left; margin-right:200px;">-->
            <div class="about-me" style="float:left; margin-right:240px;">
                <h1>About me</h1>  
                <a href="{%url 'aboutme'%}">
                <!--<img src="{%static 'img/rabbit.png'%}" style="width:300px; height:300px; float:left; margin-right:200px;">-->
                <img src="{%static 'img/rabbit.png'%}" style="width:300px; height:300px; float:left; ">
                </a>
            </div>
            <div class="study" style="float:left; ">
                <h1>Let's study</h1>
                <a href="{%url 'bloglist'%}">
                <img src="{%static 'img/books.png'%}" style="width:300px; height:300px; float:left;">
                </a>
            </div>
        </div>
        
    </body>
    {%endblock%}