{%extends 'base.html'%}
{%block content %}
<style>
    @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

    .container{
        margin-top:5%;
        width:70%;
        font-family: 'Jeju Gothic', sans-serif;
    }
</style>

    <div class="container">
        <form action="{%url 'create' %}" method="POST" enctype="multipart/form-data">
            {%csrf_token%}

            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label"></label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="제목을 입력하세요" name="title">

                <label for="exampleFormControlTextarea1" class="form-label"></label>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" name="body" style="height: 300px"></textarea>
                    <label for="floatingTextarea2">공부한 내용을 공유해보세요!</label>
                </div>
                <div class="input-group mb-3" style="margin-top: 20px;">
                    <input type="file" class="form-control" id="inputGroupFile02" name="image">
                    <label class="input-group-text" for="inputGroupFile02">Upload</label>
                </div>
            </div>
            <input class="btn btn-light" type="submit" value="제출하기">
            
        </form>
    </div>
{%endblock%}