{%extends 'base.html'%}

{%block content %}
    <div class="container">
        <form action="{%url 'create' %}" method="POST" enctype="multipart/form-data">
            {%csrf_token%}

            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">제목</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="제목을 입력하세요" name="title">
            </div>
            <!--<div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">글쓴이</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="글쓴이를 입력하세요" name="writer">
            </div>-->
            
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">본문</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="body" placeholder="내용을 입력하세요"></textarea>
            </div>

            <input type="file" name="image" value="{{blog.image}}">

            <input class="btn btn-dark" type="submit" value="제출하기">
            
        </form>
    </div>
{%endblock%}